@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #14bdac;
  --dark-color: #0da192;
  --black-color: #545454;
  --white-color: #f2ebd3;
  --red-color: #bd022f;
}

body {
  font-family: "Mukta", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
}

span {
  color: var(--white-color);
}

h1 {
  font-size: 40px;
  word-spacing: 10px;
}

.container {
  margin-top: 30px;
  padding: 50px;
  border-radius: 25px;
  background-color: var(--bg-color);
}

.title {
  text-align: center;
}

.status__action {
  margin-top: 0px;
  font-size: 22px;
  font-weight: 800;
  display: flex;
  justify-content: space-around;
  height: 30px;
}

.reset:hover {
  cursor: pointer;
  color: var(--red-color);
  transition: color 0.5s ease-in-out;
}

.tic__tac__toe__grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  background-color: var(--dark-color);
}

.tic__tac__toe__cell {
  height: 100px;
  width: 100px;
  background-color: var(--bg-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x::after {
  content: "×";
  font-size: 150px;
}

.o::after {
  content: "○";
  color: var(--white-color);
  font-size: 150px;
}

.won::after {
  color: var(--red-color);
}

.danger {
  color: var(--red-color);
}
